@media(max-width:75em){
    .logo{
        padding-left: 3rem;
    }
    .container{
        padding: 0 5rem;
    }
    .featured-img{
        width: 14rem;
    }
    .design{
        grid-template-columns: 4fr 3fr;
    }
    .design-text-box{
        padding: 1rem 4rem;
    }
    .design-img-box{
        display: flex;
        align-items: center;
    }
    .brand-img{
        max-width: 13rem;
    }
    .auto-subtext-box{
        margin-top: 1rem;
    }
    .customer {
        padding: 0 3rem;
    }
    .seo-text-box {
        
        padding-top: 1rem;
        padding-left: 1rem;
    }
.graph-text-box {
  
    padding: 1rem 4rem;
}
.graph-img-box{
    display: flex;
    align-items: center;
}


}

@media(max-width:62.5em){
    .container{
        padding: 0 4rem;
    }
.hero-container{
    grid-template-columns: 1fr;
    padding: 0 3rem;
}
.featured-img{
    width: 12rem;
}
.design{
    grid-template-columns: 1fr 1fr;
}
.design-text-box{
    padding: 1rem;
}
.section-carousel{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
}
@media(max-width:53em){
    html{
        font-size: 56.25%;
    }
    .container{
        padding: 0 2rem;
    }
   
        .section-seo {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        .brand-img{
            max-width: 11rem;
        }
        .customer-main-para{
            font-size: 1.6rem;
        }
}
@media(max-width:41.87em){
html{
    font-size: 50%;
}
.design{
    grid-template-columns: 1fr;
    padding: 0 3rem;
}
.featured-img{
    width: 10rem;
}
.seo{
    grid-template-columns: 1fr;
}
.seo-subtext-box{
    max-width: 100%;
}
.container{
    max-width: 90%;
}
.automate{
    grid-template-columns: 1fr;
}
.auto-img-box{
    width: 90%;
    margin: auto;
}
.graph{
    grid-template-columns: 1fr;
}
.support{
    grid-template-columns: 1fr;
}
/* .footer{
    grid-template-columns: 1fr;
    gap: 3rem;
}
.follow{
    display: flex;
    justify-content: center;
   text-align: center;
} */
.brand-img{
    width: 8rem;
}
.customer-img{
    width: 12rem;
}
.container{
    padding: 0 0 ;
}
}

@media(max-width:29em){
    html{
        font-size: 45%;
    }
.primary-heading{
    font-size: 3rem;
    padding-bottom: 6rem;
    text-align: center;
}
.section-hero{
    padding-bottom: 20rem;
}
.featured-heading{
    font-size: 2rem;
}
.featured-img{
    width: 8rem;
}
.auto-text-box{
padding-bottom: 3rem;
}
.brand-img{
    width: 7rem;
}
.carousel-heading{
    font-size: 2.5rem;
}
.customer{
    padding: 0;
}
}